/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Mono', monospace;*/
@import "normalizer.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 44px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1000;
    top: 0;
}

/* LOGO */

header .content .nav-mobile .logo {
    margin-left: 16px;
    margin-top: 10px;
    width: 24px;
    height: 24px;
    display: block;
    float: left;    
}

/* TAMAÑO Y POSICIÓN DE CADA LINEA */

header .content .nav-mobile .hamburger .menu-line {
    display: block;
    margin-top: 3px;
    width: 18px;
    height: 2px;
    background: black;
    transition: 0.3s;
}

header .content .nav-mobile ul {
    position: relative;
    margin: 0;
    padding: 0px;
    padding-left: 20px;
    list-style: none;
    overflow: hidden;
    background-color:#0000EC;
}

header .content .nav-mobile .menu {
    clear: both;
    max-height: 0;
    transition: min-height .2s ease-out;
}

header .content .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding: 20px 20px;
}

header .content .menu-icon .nav-icon {
    background: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: all .2s ease-out;
}

header .content .menu-icon .nav-icon:before, 
header .content .menu-icon .nav-icon::after {
    background: black;
    content: '';
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

header .content .menu-icon .nav-icon:before {
    top: 5px;
    height: 2px;
}

header .content .menu-icon .nav-icon::after {
    top: -5px;
    height: 2px;
}

header .content .menu-btn {
    display: none;
}

header .content .menu-btn:checked ~ .menu {
    min-height: 224px;
}

header .content .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

header .content .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-405deg);
    top: 0;
}

header .content .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(405deg);
    top: 0;
}

header .content .nav-mobile ul li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 20px;
}

header .content .nav-mobile li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

header .content .nav-mobile li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

header .content .nav-mobile li a:active {
    color: #060A24;
    opacity: 56%;
    text-decoration: line-through;
}

header .content .nav-desktop {
    display: none;
}

@media screen and (min-width: 992px) {
    
    header {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
   
    header .content .nav-mobile {
        display: none;
    }

    header .content .nav-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 22px 100px;
    }

    header .content .menu-2 {
        width: 40%;
        height: auto;
    }

    header .content .nav-desktop .logo a {
        display: inherit;
        height: 36px;
        width: 36px;
    }

    header .content .nav-desktop .logo img {
        width: 36px;
        height: 36px;
    }

    header .content .menu-2 ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    header .content .menu-2 ul li {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        letter-spacing: 0;
        list-style: none;
        margin-right: 10px;
    }

    header .content .menu-2 li a {
        text-decoration: none;
        color: #060A24;
    }

    header .content .menu-2 li a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }
    
    header .content .menu-2 li a:active {
        color: #060A24;
        opacity: 56%;
        text-decoration: line-through;
    }
}


/*EMPIEZA EL CUERPO*/

.titles {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 42px;
    color: #060A24;
    margin: 16px 16px 24px 16px;
}

.title-1 {
    margin-top: 60px;
}

.strike {
    text-decoration: line-through;
}

.dot {
    color: #0000EC;
}

.paragraphs {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    margin: 16px 16px 24px 16px;
    line-height: 22px;
    color: #060A24;
}

.paragraphs-b {
    display: none;
}

.button-know {
    text-align: center;
}

.buttons {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    background-color: #00F3BB;
    width: 90%;
    height: 48px;
    border: 0;
    cursor: pointer;
    margin-bottom: 24px;
}

.buttons:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.buttons:visited {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

@media screen and (min-width: 992px) {
    .part-1 .content-1 {
        width: 72%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }

    .part-1 .title-1 {
        font-size: 64px;
        line-height: 84px;
        min-width: 740px;
        margin: 0
    }

    .part-1 .paragraph-1 {
        display: none;
    }

    .part-1 .paragraphs-b {
        display: block;
        font-family: 'IBM Plex Mono', monospace;
        line-height: 24px;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        width: 628px;
        margin: 0 0 56px;
    }

    .part-1 .button-know {
        text-align: left;
    }

    .part-1 .buttons {
        height: 56px;
        max-width: 226px;
        margin-bottom: 5px;
    }
}

.part-2 {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    height: 1203px;
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
}


.title-2 {
    color: #FFFFFF;
    padding-top: 64px;
    margin-top: 0;
}

.iframes {
    padding: 0 3.4% 110px;
    line-height: 0;
}

iframe {
    padding-bottom: 11px;
    width: 100%; 
    height: 232px; 
    border: 0;
    background-color: transparent; 
}

@media screen and (min-width: 992px) { 
    .part-2 {
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        width: 100%;
        height: 1042px;
        clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
    }

    .part-2 .content-2 {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
    }

    .title-2 {
        padding-top: 186px;
        margin: 0 0 26px 100px;
        font-size: 48px;
        line-height: 62px;
    }

    .iframes {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 64px;
    }

    .iframes div {
        width: 50%;
        text-align: center;    
    }

    .iframes iframe {
        padding-bottom: 72px;
        width: 97.5%;
        max-width: 584px;
    }

    .content-2 .iframe-1, .content-2 .iframe-3 {
        text-align: left;
    }

    .content-2 .iframe-2, .content-2 .iframe-4 {
        text-align: right;
    }

    .content-2 .iframe-3 iframe, .content-2 .iframe-4 iframe {
        padding-bottom: 0;
    }
}

.part-3 {
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
}

.title-3 {
    margin-top: 27px;
    margin-bottom: 8px;
}

.paragraph-2 {
    margin-top: 0;
}
.paragraph-3 {
    margin-bottom: 54px;
}

.img-1 img {
    width: 100%;
    height: auto;
    margin-top: -70px;
}

.title-4 {
    margin-bottom: 14px;
}
.images img {
    width: 100%;
    height: auto;
}

.images {    
    line-height: 0;
    margin-bottom: 48px;
}

@media screen and (min-width: 992px) {
    .content-3 {
        width: 70%;
        margin-left: 14%;
        margin-right: 16%;
        display: flex;
        margin-bottom: 64px;
    }

    .img-1 img {
        width: 460px;
        margin-top: -170px;
    }

    .content-p {
        width: 49%;
    }

    .content-p p {
        font-size: 16px;
    }

    .content-p h2 {
        font-size: 48px;
        padding-bottom: 24px;
    }

    .content-4 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-4 h2 {
        font-size: 48px;
        margin: 0 0 36px;
    }

    .part-3 span {
        position: absolute;
        width: 33.3%;
    }

    .part-3 .row-1 span:nth-child(2)  {
        left: 33.3%;
    }

    .part-3 .row-1 span:nth-child(3) {
        left: 66.6%;
    }

    .part-3 .row-2 span:nth-child(1){
        margin-top: 25%;
    }

    .part-3 .row-2 span:nth-child(2)  {
        left: 33.3%;
        margin-top: 25%;
    }

    .part-3 .row-2 span:nth-child(3) {
        left: 66.6%;
        margin-top: 25%;
    }

    .part-3 {
        margin-bottom: 53%;
    }
}

.part-4 .title-4 {
    margin-bottom: 37px;
}

.part-4 .logos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.part-4 h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #060A24;
    letter-spacing: 0;
    margin-bottom: 65px;
}

.part-4 .h3-1 {
    margin-bottom: 49px;
}

.part-4 .h3-4 {
    margin-bottom: 42px;
}

.part-4 img {
    padding-bottom: 13px;
}

@media screen and (min-width: 992px) {
    .part-4 .content-5 {
        width: 72%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 34px;
    }

    .part-4 .title-4 {
        margin: 0 0 56px;
        font-size: 48px;
        line-height: 62px;
    }

    .part-4 .logos {
        width: 100%;
        display: flex;
    }

    .part-4 .logos div {
        width: 40%;
    }

    .part-4 .logos h3 {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
    }

    .part-4 img {
        padding-bottom: 29px;
    }

    .part-4 {
        height: 426px;
    }
}

.part-5 {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
    height: 341px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.part-5 .title-5 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 64px;
    margin-bottom: 36px;
}

.part-5 .button-2 {
    margin-bottom: 67px;
}

footer .paragraph-4 {
    text-align: center;
}

footer .icons {
    font-size: 16px;
    line-height: 28px;
    margin: 16px 45px 31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .fab {
    color: #060A24;
}

@media screen and (min-width: 992px) {
    .part-5 {
        height: 518px;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    }

    .part-5 .content-6 {
        width: 48%;
        margin-left: auto;
        margin-right: auto;
    } 
    .part-5 .title-5 {
        padding-top: 213px;
        font-size: 48px;
        line-height: 62px;
        margin: 0 0 36px;
    }

    .button-2 {
        width: 52%;
        height: 56px;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
    }

    .content-7 {
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
        margin-bottom: 31px;
    }

    .content-7 .icons {
        width: 16%;
        justify-content: space-between;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
    }

    .paragraph-4 {
        margin: 0;
        font-size: 16px;
        line-height: 28px;
    }
}
